<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">DealsCart</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <a type="button" class="btn btn-link deal-of-the-day" data-toggle="modal" data-target="#dealOftheDayModal">Deal
            of the Day</a>
    </ul>
</nav>
<br><br>

<center>
    <br />
    <div class="welcome-msg">
        <h2>Welcome to DealsCart</h2>
        <p>Please click on the product image to purchase.</p>
        <p class="homescreen-msg"><a type="button" class="btn btn-link awesome" id="homescreenBtn" data-toggle="modal"
                data-target="#homescreenModal">Click here</a> to add DealsCart to your home screen.
            <hr />
        </p>
    </div>
</center>
{{#if task}}

<div class="deals-grid-container">
    {{#each task}}
    <div class="prod-grid-container">
        <div class="img-div">
            <div class="image">{{{task}}}</div>
        </div>
        <div class="prod-desc">
            <div class="header">{{prodName}}
            </div>
            {{#if (isNotZero this.mrp)}}
            <div class="mrp">MRP: ₹<del>{{mrp}}</del></div>
            {{/if}}
            {{#if (isNotZero this.dealPrice)}}
            <div>Deal Price: <span class="deal-price">₹{{dealPrice}}</span></div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>

{{else}}
<p>No Deal(s) added yet!</p>
{{/if}}

<!-- The Modal -->
<div class="modal fade" id="homescreenModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close modal-close-btn" data-dismiss="modal">&times;</button>
                <br>
                <p><b>Step 1: </b>Tap the menu icon (3 dots, <i class="fa fa-ellipsis-v" aria-hidden="true"></i> in
                    upper right-hand corner) of the browser window.</p>
                <p><b>Step 2: </b>Tap on <b>Add to Home screen</b>.</p>
            </div>
        </div>
    </div>
</div>
<!-- The Deal of the Day Modal -->
<div class="modal fade" id="dealOftheDayModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="close modal-close-btn" data-dismiss="modal">&times;</button>
                <br><br>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/30v0WlN" target="_blank">Up to 50% off on
                                    JBL Headphones and speakers</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/3bzJZg9" target="_blank">Min 60% off on Mens
                                    Sports
                                    Shoes</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/3v9xyj0" target="_blank">Up to 30% off on
                                    Kitchen
                                    Appliances</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/2PVlgL1" target="_blank">Upto 80% off on
                                    Watches</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/3qzASAv" target="_blank">Up To 40% Off on
                                    Healthy
                                    Foods</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/3l3u2BY" target="_blank">Upto 40% off on
                                    Sports
                                    Nutrition</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/3rBpx4h" target="_blank">Upto 30% Off on
                                    Superfoods</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/30v9M2L" target="_blank">Upto 40% off on
                                    Fossil, Titan & more
                                    watches</a></td>
                        </tr>
                        <tr>
                            <td><a class="daily-deal" href="https://amzn.to/38uqZhd" target="_blank">Flat 15% Off on
                                    Cadbury Gift
                                    Pack</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function executeQuery() {
        var domCardsCount = $('.prod-grid-container').length;
        $.ajax({
            url: '/getStatus',
            success: function (data) {
                if (data == 'offer updated') {
                    updateDOM();
                }
            }
        });

        setTimeout(executeQuery, 20000); // you could choose not to continue on failure...
    }
    function updateDOM() {
        $.ajax({
            url: '/updateDeals',
            success: function (data) {
                var body = data.substring(data.indexOf("<body>") + 6, data.indexOf("</body>"));
                var cardTags = $('<div></div>').html(data);
                var responseCardCount = $('.prod-grid-container', cardTags).length;
                $('.container').html(body);
                //if (domCardsCount != responseCardCount) {
                //    $('.container').html(body);
                //}
            }
        });
    }
    $(document).ready(function () {
        // run the first time; all subsequent calls will take care of themselves
        setTimeout(executeQuery, 10000);
    });
</script>