<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" href="/">DealsCart</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Shop by Category
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" target="_blank" href="https://amzn.to/2Zn0Lbm">Electronics</a>
                <a class="dropdown-item" target="_blank" href="https://amzn.to/3as0Jpn">Clothing/Fashion</a>
                <a class="dropdown-item" target="_blank" href="https://amzn.to/3jP4sQO">Home/Kitchen</a>
                <a class="dropdown-item" target="_blank" href="https://amzn.to/2ZgLs48">Books</a>
                <a class="dropdown-item" target="_blank" href="https://amzn.to/3puChYI">Alexa</a>
                <a class="dropdown-item" target="_blank" href="https://amzn.to/3u0ZWDs">Car/Motorbike</a>
                <a class="dropdown-item" target="_blank" href="https://amzn.to/2Nx0ikd">Amazon.in</a>
            </div>
        </li>
    </ul>
</nav>
<br><br>

<center>
    <br />
    <div class="welcome-msg">
        <h2>Welcome to DealsCart!</h2>
        <p>Please click on the product image to purchase.</p>
        <p class="homescreen-msg"><a type="button" class="btn btn-link awesome" id="homescreenBtn" data-toggle="modal" data-target="#homescreenModal">Click here</a> to add DealsCart to your home screen.<hr/></p>
    </div>
</center>
{{#if task}}

<div class="deals-grid-container">
    {{#each task}}
    <div class="prod-grid-container">
        <div class="img-div">
            <div class="image">{{{task}}}</div>
        </div>
        <div class="prod-desc">
            <div class="header">{{prodName}}
            </div>
            {{#if (isNotZero this.mrp)}}
            <div class="mrp">MRP: ₹<del>{{mrp}}</del></div>
            {{/if}}
            {{#if (isNotZero this.dealPrice)}}
            <div>Deal Price: <span class="deal-price">₹{{dealPrice}}</span></div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>

{{else}}
<p>No Deal(s) added yet!</p>
{{/if}}

<!-- The Modal -->
<div class="modal fade" id="homescreenModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <br>
                <p><b>Step 1: </b>Tap the menu icon (3 dots, <i class="fa fa-ellipsis-v" aria-hidden="true"></i> in upper right-hand corner) of the browser window.</p>
                <p><b>Step 2: </b>Tap on <b>Add to Home screen</b>.</p>
            </div>
        </div>
    </div>
</div>
<script>
    function executeQuery() {
        var domCardsCount = $('.prod-grid-container').length;
        $.ajax({
            url: '/getStatus',
            success: function (data) {
                if (data == 'offer updated') {
                    updateDOM();
                }
            }
        });

        setTimeout(executeQuery, 20000); // you could choose not to continue on failure...
    }
    function updateDOM() {
        $.ajax({
            url: '/updateDeals',
            success: function (data) {
                var body = data.substring(data.indexOf("<body>") + 6, data.indexOf("</body>"));
                var cardTags = $('<div></div>').html(data);
                var responseCardCount = $('.prod-grid-container', cardTags).length;
                $('.container').html(body);
                //if (domCardsCount != responseCardCount) {
                //    $('.container').html(body);
                //}
            }
        });
    }
    $(document).ready(function () {
        // run the first time; all subsequent calls will take care of themselves
        setTimeout(executeQuery, 10000);
    });
</script>